.app {  
  text-align: center;
  background: url("./assets/images/apples-on-ground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto !important;
  height: 100vh;
}

/* -- Main -- */
.row-main {
  margin-right: 0 !important;
}

.img-main {
  height: 15rem;
  width: 15rem; 
  border-radius: 50%;
  overflow: hidden;
}

/* -- Poems Page -- */
.poems-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.poems-links {
  text-align: left;
  display: d-block;
  position: sticky;
  top: 0;
  z-index: 2;
}

.link {
  color: white;
}

.links {
  padding-bottom: 0.5rem;
  padding-left: 3rem;
}

.link:hover {
  display: flex;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #cb9d89 !important;
}

.poems-rus-main {
  position: relative;
}

.card-poems {
  position: relative;
  display: flex;
  margin-top: 1rem;
  padding-top: 5rem;
  font-size: 1.1rem;
}

.card-poems-move {
  transform: translateX(35%)
}

/* -- Navigation -- */
.nav-bar {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  background: linear-gradient(0deg, #D7DAC9,
    #ce3f01,
    #a33201,
    #862800,
    #862800,
    #a33201,
    #ce3f01,
    #D7DAC9);
  z-index: 7;
}

 .logo-img {
  display: flex;
  justify-self: centers;
  align-items: center;
  height: 45px;
  width: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1.5rem;
 }

.logo-link {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.logo-text {
  font-size: x-large;
  color: white;
  height: auto;
  margin-bottom: 0;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.nav-link {
  color: rgb(236, 236, 236) !important;
  padding: 2rem 3rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  outline: none;
  font-size: 1rem;
  transition: all 0.4s;
}

 .nav-link:hover {
  background-color: #db6c3c;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  transform: scale(1.05);
}
  
.nav-link:focus {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
  padding-top: .4rem;
  padding-left: .3rem;
  padding-bottom: 1rem;
  font-size: 1.05rem;
  background-color:#db6c3c !important;
}

.btn-search {
  --bs-btn-color: #ced4da !important;
  --bs-btn-bg: #873119 !important;
  --bs-btn-border-color: #873119 !important;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #642413;
  --bs-btn-hover-border-color: #642413 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #white;
  --bs-btn-active-bg: #642413;
  --bs-btn-active-border-color: #642413;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ced4da;
  --bs-btn-disabled-bg: #873119;
  --bs-btn-disabled-border-color: #873119;
}

/* -- Sidebar -- */
.poems__list__title {
  position: fixed;
  display: flex;
  align-items: center;
  color: white;
  width: 230px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #a33201;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  z-index: 10;
}

.poems__list {
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  margin-top: 60px;
  height: 70vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #a33201;
}

section.sidebar__links {
  padding-top: 0;
}

 .sidebar__links {
   position: fixed;
   text-align: left;
   top: 3.8rem;
   left: 0;
   width: 270px;
   height: 100vh;
   color: #fff;
   background-color: #a33201;
   padding: 1rem 0 0 1rem;
   transition: transform .1s;
   z-index: 5;
 }

 .sidebar__btn {
   position: fixed;
   top: 3.8rem;
   left: 242px;
   width: 28px;
   height: 50px;
   justify-content: center;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   background-color: #a33201;
   outline: none;
   border: none;
   cursor: pointer;
   color: #fff;
   transition: transform .1s;
   z-index: 5;
 }

 .sidebar__btn--move {
   transform: translateX(-242px);
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 50px;
   background-color: #a33201;
   transition: transform .1s;
   z-index: 2;
 }

.sidebar__links--move {
  transform: translateX(-100%);
}

 .card-nav {
   margin-left: 0;
 }

.sidebar__link { 
  text-decoration: none;
  outline: none;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #fff !important;
  transition: all 0.2s;
}

.sidebar__link:hover {
  display: flex;
  border-radius: 5px;  
  transform: scale(1.05);
  background-color: #cb9d89 !important;
}

.sidebar__link:focus {
  display: flex;
  border-radius: 5px;
  font-weight: 600;     
  padding-top: .4rem;
  padding-left: .3rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  background-color: #cb9d89 !important;
}

@media (min-width: 576px) {
  .sidebar__links {
      position: fixed;
      text-align: left;
      top: 3.8rem;
      left: 0;
      width: 270px;
      height: 100vh;
      color: #fff;
      background-color: #a33201;
      padding: 1rem 0 0 1rem;
      transition: transform .1s;
      z-index: 5;
    }
  
    .sidebar__btn {
      position: fixed;
      top: 3.8rem;
      left: 242px;
      width: 28px;
      height: 50px;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #a33201;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      transition: transform .1s;
      z-index: 5;
    }
  
    .sidebar__btn--move {
      transform: translateX(-242px);
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 50px;
      background-color: #a33201;
      transition: transform .1s;
      z-index: 2;
  }

  .page-with-navbar {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .sidebar__links {
      position: fixed;
      text-align: left;
      top: 4.5rem;
      left: 0;
      width: 270px;
      height: 100vh;
      color: #fff;
      background-color: #a33201;
      padding: 1rem 0 0 1rem;
      transition: transform .1s;
      z-index: 5;
    }
  
    .sidebar__btn {
      position: fixed;
      top: 4.5rem;
      left: 242px;
      width: 28px;
      height: 50px;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #a33201;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      transition: transform .1s;
      z-index: 5;
    }
  
    .sidebar__btn--move {
      transform: translateX(-242px);
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 50px;
      background-color: #a33201;
      transition: transform .1s;
      z-index: 2;
  }

 .card-nav {
   margin-left: 0;
 }

  .logo-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
}

@media (min-width: 992px) {
  .sidebar__links {
      position: fixed;
      text-align: left;
      top: 5rem;
      left: 0;
      width: 280px;
      height: 100vh;
      color: #fff;
      background-color: #a33201;
      padding: 1rem 0 0 1rem;
      transition: transform .1s;
      z-index: 5;
    }
  
    .sidebar__btn {
      position: fixed;
      top: 5rem;
      left: 252px;
      width: 28px;
      height: 50px;
      justify-content: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #a33201;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      transition: transform .1s;
      z-index: 5;
    }
  
    .sidebar__btn--move {
      transform: translateX(-252px);
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 50px;
      background-color: #a33201;
      transition: transform .1s;
      z-index: 2;
  }

  .logo-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .sidebar__links {
    position: fixed;
    text-align: left;
    top: 5rem;
    left: 0;
    width: 280px;
    height: 100vh;
    color: #fff;
    background-color: #a33201;
    padding: 1rem 0 0 1rem;
    transition: transform .1s;
    z-index: 5;
  }

  .sidebar__btn {
    position: fixed;
    top: 5rem;
    left: 252px;
    width: 28px;
    height: 50px;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #a33201;
    outline: none;
    border: none;
    cursor: pointer;      
    color: #fff;
    transition: transform .1s;
    z-index: 5;
  }

  .sidebar__btn--move {
    transform: translateX(-252px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    background-color: #a33201;
    transition: transform .1s;
    z-index: 2;
  }
    
  .logo-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
}

.page {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-with-navbar {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* -- Footer -- */
.footer {
  padding: 0.5rem;
  color: rgba(47, 46, 46, 0.6);
  background: rgb(234, 234, 234);
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.singleCol {
  max-width: 150px;
  margin: auto;
}

.social-media-icons-white a {
  color: #a33201;
  font-size: 2rem;
}

.social-media-icons-white a:hover {
  color: #862800;
  font-size: 2rem;
}

.social-media-icons-white a::after {
  color: #862800;
  font-size: 2rem;
}