.app {
  font-family: sans-serif;
  text-align: center;
}

/* -- Main -- */
.body-main {
  background: url("/images/apples-on-ground.jpg") no-repeat fixed;
  background-size: cover;
}

.row-main {
  margin-right: 0 !important;
}

.img-main {
  height: 15rem;
  width: 15rem; 
      border-radius: 50%;
      overflow: hidden;
}

/* -- Poems Page -- */
.poems-header-row {
  position: stiky;
  top: 4rem;
  background-size: cover;
  background: url("/images/apples-on-ground.jpg") no-repeat fixed;
  z-index: 3;
}

.poems-header {
  color: rgb(241, 241, 241);
}

.poems-links {
  text-align: left;
  display: d-block;
  position: sticky;
  top: 0;
  z-index: 2;
}

.link {
  color: white;
}

.links {
  padding-bottom: 0.5rem;
  padding-left: 3rem;
}

.link:hover {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
}

.card-poems {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btn-back {
 background: red;
}

/* -- Navigation -- */
.navigation {
  background: linear-gradient(0deg, #D7DAC9,
    #ce3f01,
    #a33201,
    #862800,
    #862800,
    #a33201,
    #ce3f01,
    #D7DAC9);
}

.navbar {
  padding-bottom: 0 !important;
}
 a.nav-link{
  margin-left: 0.6rem;
 }
 .nav-links {
   margin-right: 3rem;
 }

.btn-search {
  --bs-btn-color: #ced4da !important;
  --bs-btn-bg: #873119 !important;
  --bs-btn-border-color: #873119 !important;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #642413;
  --bs-btn-hover-border-color: #642413 !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #white;
  --bs-btn-active-bg: #642413;
  --bs-btn-active-border-color: #642413;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ced4da;
  --bs-btn-disabled-bg: #873119;
  --bs-btn-disabled-border-color: #873119;
}

/* -- Footer -- */
.footer {
  padding: 1rem;
  color: #d8d8d8;
  background: linear-gradient(0deg, #D7DAC9, #ce3f01, #a33201, #862800, #862800, #a33201, #ce3f01, #D7DAC9);
  bottom: 0;
  left: 0;
  width: 100%;
}

.singleCol {
  max-width: 150px;
  margin: 0 auto;
}

.social-media-icons-white a {
  color: white;
  font-size: 2rem;
}

.social-media-icons-white a:hover {
  color: rgb(167, 167, 167);
  font-size: 2rem;
}

.social-media-icons-white a::after {
  color: rgb(167, 167, 167);
  font-size: 2rem;
}